build/
*.apk
*.zip
*.jks
*.keystore
key.properties
google-services (5).json
.DS_Store
.idea/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
functions/node_modules/
functions/.firebaserc
functions/.runtimeconfig.json
